* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,
body {
    margin: 0;
    padding: 0;
    background-color: rgb(241, 221, 238);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   }

.shell {
    position: relative;
    width: 100%;
    padding: 50px;
}

h2 {
    color: rgb(123, 150, 241);
    font-size: 90px;
    margin-left: 400px;
    font: 500 80px;
}


p {
    color: rgb(98, 98, 98);
    font-size: 22px;
    text-align: justify;
}

.left {
    height: 500px;
    float: left;
    shape-margin: 20px;
    shape-outside: url(assets/tl.webp);
}

.right {
    height: 500px;
    float: right;
    shape-outside: url(assets/1tl.webp);
    margin: 240px -80px 0 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   }
.middle-page{
    position: relative;
    width: 100%;
    padding: 50px;
}

h3 {
    color: rgb(123, 150, 241);
    font-size: 70px;
    margin-left: 400px;
    font: 500 80px;
}
.middle-img{
    height: 500px;
    float: left;
    shape-margin: 20px;
    shape-outside: url(ssets/2tl.webp);
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.footer-page{
    position: relative;
    width: 100%;
    padding: 50px;   
}

.footer-img{
    height: 500px;
    float: right;
    shape-outside: url(assets/4tl.webp);
    margin: 240px -80px 0 0;
}

